<div class="fixed top-0 left-0 w-full h-full flex items-center justify-center bg-gray-darkest bg-opacity-50">
  <div class="bg-gray-lightest rounded-lg shadow-md p-6">
    <div class="flex justify-between mb-4">
      <h2>
        <span class="mr-1 text-gray font-extralight">#{{ technology.id }}</span>
        {{ technology.name }}
      </h2>
      <button class="text-gray hover:text-gray-dark" (click)="onCloseDialog()">Close</button>
    </div>
    <p class="text-gray-dark mb-4">{{ technology.description }}</p>
    <p *ngIf="technology.classification" class="text-gray mb-4">Our assessment:<br>{{ technology.classification }}</p>
    <p class="text-indigo-dark">Category: {{ Category[technology.category] }}</p>
    <p class="text-amber-dark">Ring: {{ Ring[technology.ring] }}</p>
    <div class="flex mt-4 justify-between">
      <p class=" mr-3 text-gray text-sm font-thin">Created At: {{ technology.createdAt | localDate }}</p>
      <p class="text-gray text-sm font-thin">Created By: {{ technology.creator.username  }}</p>
    </div>
  </div>
</div>
