<header class="bg-indigo-dark text-gray-lightest shadow-lg">
  <div class="container mx-auto px-4 py-2 flex justify-between items-center">
    <h1>
      <span class="mr-2"><fa-icon [icon]="faSatelliteDish"></fa-icon></span>
      {{ title }}
      <span class="ml-2 text-gray-light text-sm">{{ environmentName }}</span>
    </h1>
    <nav>
      <ul class="flex space-x-4">
        <li>
          <a routerLink="/viewer" routerLinkActive="font-bold text-amber"
             class="text-lg font-medium hover:text-amber transition-colors"
          >Viewer</a>
        </li>
        <li>
          <a routerLink="/admin" routerLinkActive="font-bold text-amber"
             class="text-lg font-medium hover:text-amber transition-colors"
          >Admin</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
